[submodule "vendor/ra4m1_hal"]
	path = vendor/ra4m1_hal
	url = git@github.com:marcusgigandet/ra4m1_hal.git
[submodule "vendor/toolbox"]
	path = vendor/toolbox
	url = git@github.com:marcusgigandet/toolbox.git
